@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Anton", sans-serif;
}

.blinking-cursor::after {
  content: "|";
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.icon {
  font-size: 50px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#0c8),
    to(#333)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.common__container_class {
  @apply relative overflow-hidden w-full py-48 lg:px-28 px-8 text-white;
}
.wrapper {
  @apply w-full h-[80em] bg-white p-5 flex rounded-lg items-center justify-center;
}
.container {
  @apply relative grid grid-cols-3 gap-[25px] p-[25px] bg-white rounded-lg cursor-pointer shadow-lg;
  will-change: width, height;
}

.item {
  @apply w-[20em] h-[20em] bg-white rounded-lg;
  will-change: transform, opacity;
}
